body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: black;
}

h1 {
  font-size: 100px;
  color: aliceblue;
}

#boardContainer {
  width: 600px;
  height: 600px;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
}
